
.bgimage{
	height:100vh;
	width:100vw;
	object-fit: cover;
	filter: brightness(0.5);
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}

.content h1{
	font-size: 190px;
	color:white;
	margin-top:50px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 3vw;
	vertical-align: center;
	font-family: georgia;
	opacity: 100%;
}

.content h2{
	font-size: 5vw;
	color:yellow;
	margin-top:50px
	margin-right: auto;
	margin-left: auto;
	padding-left: 3vw;
	vertical-align: center;
	font-family: tw cen mt;
	margin-bottom: 100px;
	padding: 30px;
}

button{
	background-color: transparent;
	color:orange;
	border-color: orange;
	border-radius: 10px;
	width:15vw;
	height:11vh;
	font-size: 5vw;
	font-family: tw cen mt;
	vertical-align: center;
	position: relative;
	margin:0;
	margin-left:3vw;
	top: -5vh;
}

button:hover{
	background-color: orange;
	color:white;
	border-color: white;
	border-radius: 10px;
	width:15vw;
	height:11vh;
	font-size: 5vw;
	font-family: tw cen mt;
	vertical-align: center;
	position: relative;
	margin:0;
	margin-left:3vw;
	top: -5vh;
}

